* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/static/images/pokeballs_bg_v2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  padding: 15px;
  padding-top: 47px;
}

.notes p {
  padding: 5px;
}

img {
  background-color: #fff;
  border-radius: 50px;
  width: 275px;
  height: 275px;
  padding: 25px;
}

.buttons {
  padding: 10px;
}

#search-bar {
  text-align: left;
  width: 300px;
  margin: 25px;
  margin-bottom: 10px;
  padding: 3px;
}

.button {
  text-align: right;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(99, 99, 99);
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 14px;
}

.poke-info {
  list-style-type: none;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

.poke-info h2 {
  padding: 15px;
}

.poke-info p {
  padding: 3px;
}

.poke-info img {
  margin: 20px;
}

#autocomplete-container {
  position: absolute;
  width: 300px;
  margin-top: -10px;
  margin-left: 25px;
  opacity: 0.75;
}

.autocomplete-item {
  text-align: left;
  list-style-type: none;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.autocomplete-item:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}
