* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/static/images/pokeballs_bg_v2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  padding: 15px;
  padding-top: 47px;
}

.notes p {
  padding: 5px;
}

img {
  background-color: #fff;
  border-radius: 50px;
  width: 275px;
  height: 275px;
  padding: 25px;
}

.buttons {
  padding: 10px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 450px;
}

#search-bar {
  text-align: left;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  margin: 25px 0 10px;
  padding: 10px;
  cursor: text;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
  z-index: 1;
}

#search-bar:focus {
  outline: none;
}

i {
  border: 1px solid gray;
  border-radius: 30px;
  height: 30px;
  width: 60px;
  padding: 5px;
  margin-top: 15px;
  background-color: white;
}

.fa-magnifying-glass {
  border-right: none;
  position: relative;
  text-align: left;
  padding-left: 15px;
  left: 15px;
}

.fa-microphone {
  border-left: none;
  position: relative;
  text-align: right;
  padding-right: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
}

.button {
  text-align: right;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(99, 99, 99);
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 14px;
}

.speak {
  border: none;
  background-color: transparent;
}

.poke-info {
  list-style-type: none;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

.poke-info h2 {
  padding: 15px;
}

.poke-info p {
  padding: 3px;
}

.poke-info img {
  margin: 20px;
}

#autocomplete-container {
  position: absolute;
  width: 350px;
  margin-top: -10px;
  margin-left: 50px;
  opacity: 0.75;
}

.autocomplete-item {
  text-align: left;
  list-style-type: none;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.autocomplete-item:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.autocomplete-item.active {
  background-color: #808080;
}
