* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: 1px solid black;
}

.buttons {
  border: 2px solid blue;
  padding: 10px;
}

#search-bar {
  text-align: left;
  width: 225px;
}

.button {
  text-align: right;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(99, 99, 99);
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 14px;
}
