<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to the Pokedex</h1>

    <p>Search for your favorite Pokemon by name</p>
    <p>Note: This pokedex only covers the first 101 Pokemon</p>
    <p>For the Nidorans, include male ♂ or female ♀</p>
    <p>This pokedex will include more Pokemon in the future.</p>

    <form action="/search" method="get">
      <input
        id="search-bar"
        type="text"
        name="pokemon_name"
        placeholder="Enter Pokémon Name (e.g., Pikachu)"
        value="{{ request.args.get('pokemon_name', '')}}"
        pattern="^[A-Za-z]+(?:\.(?:\s[A-Za-z]+)|[ '-][A-Za-z]+)*(?:[♂♀])?$"
        autocomplete="off"
        required
      />
      <div class="buttons">
        <button type="submit" class="button">Search</button>
        <a href="{{ url_for('home') }}" class="button">Clear</a>
      </div>
    </form>

    {% if results %}
    <ul>
      {% for pokemon in results %}
      <li class="poke-info">
        <h2>{{ pokemon.name }}</h2>
        <h3>{{ pokemon.nickname }}</h3>
        <img
          src="{{ url_for('static', filename=pokemon.image_url) }}"
          alt="{{ pokemon.name }}"
        />

        {% if pokemon.evolves_from %}
        <p>
          Evolves from:
          <a href="/search?pokemon_name={{ pokemon.evolves_from }}"
            >{{ pokemon.evolves_from }}</a
          >
        </p>
        {% endif %} {% if pokemon.evolves_to %}
        <p>
          Evolves to:
          <a href="/search?pokemon_name={{ pokemon.evolves_to}}"
            >{{ pokemon.evolves_to }}</a
          >
        </p>

        {% endif %} {% if pokemon.type|length > 1 %}
        <p>Types: {{ pokemon.type[0] }}, {{ pokemon.type[1] }}</p>
        {% else %}
        <p>Type: {{ pokemon.type[0] }}</p>
        {% endif %}

        <p>{{ pokemon.description }}</p>
      </li>

      {% endfor %} {% elif request.args.get('pokemon_name') %}
      <li class="poke-info">
        <p>No results found. Check your spelling.</p>
      </li>
    </ul>

    {% endif %}
  </body>
</html>
